<html>
<body>
<div Class = "login">
    <h1> Fire Weather Index (FWI) Prediction</h1>
    <!--Main Input for receiving query to over ML -->
    <form action = "{{url_for('predict_datapoint')}}" method = post>
        <input type = "text" name = "Temperature" placeholder = "Temperature" required = "required" value = "{{request.form.get('Temperature','')}}"/><br>
        <input type = "text" name = "RH" placeholder = "RH" required = "required" value = "{{request.form.get('RH','')}}"/><br>
        <input type = "text" name = "Ws" placeholder = "Ws" required = "required" value = "{{request.form.get('Ws','')}}" /><br>
        <input type = "text" name = "Rain" placeholder = "Rain" required = "required" value ="{{request.form.get('Rain','')}}"/><br>
        <input type = "text" name = "FFMC" placeholder = "FFMC" required = "required" value = "{{request.form.get('FFMC','')}}" /><br>
        <input type = "text" name = "DMC" placeholder = "DMC" required = "required" value = "{{request.form.get('DMC','')}}"/><br>
        <input type = "text" name = "ISI" placeholder = "ISI" required = "required" value = "{{request.form.get('ISI','')}}"/><br>
        <input type = "text" name = "Classes" placeholder = "Classes" required = "required" value = "{{ request.form.get('Classes','') }}"/><br>
        <input type = "text" name = "Region" placeholder = "Region" required = "required"  value="{{ request.form.get('Region', '') }}" /><br>

        <button type = "submit" class = 'btm btm-primary btm_block btm_large'>Predict</button>
    </form>
    <h2> THE FWI Prediction is {{results}}</h2>
</div>


</body>
</html>